/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin-top:10px;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    font-size:100%;
    background-color:#5CA9C4;


}
header {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin-bottom:30px;
  letter-spacing: 1.5px
}

h1 {
  font-size:16px;
  font-style: bold;
  margin-bottom:0px;
  line-height:normal;
}
h4 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;

}
h5 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;
}
h6 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;
}


body {
    line-height:10px;
    font-family: 'Tajawal', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin-bottom:20px;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


*{
margin: 0;
padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

body {
  font-size: 18px;
  text-align: center;
  text-indent: 20px;
}

.img-wellyball1 {
      width: 300px;
      height: 200px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;
    }
      #rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  }


.img-wellyball2 {
            width: 300px;
            height: 200px;
            background-image: url(img/wellyball1);
            background-size: 20%;
            background-repeat: no-repeat;
            background-position: right;
}
.img-wellyball3 {
      width: 310px;
      height: 180px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;
}

.img-pgball1 {
      width: 310px;
      height: 180px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;

    }
    .img-pgball2 {
          width: 140px;
          height: 180px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;

        }
    .img-pgball3 {
              width: 310px;
              height: 180px;
              background-image: url(img/wellyball1);
              background-size: 20%;
              background-repeat: no-repeat;
              background-position: right;
}
.img-christmasball1 {
          width: 310px;
          height: 180px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
    }
        .img-christmasball2 {
                  width: 310px;
                  height: 180px;
                  background-image: url(img/wellyball1);
                  background-size: 20%;
                  background-repeat: no-repeat;
                  background-position: right;
                }
                .img-christmasball3 {
                          width: 310px;
                          height: 180px;
                          background-image: url(img/wellyball1);
                          background-size: 20%;
                          background-repeat: no-repeat;
                          background-position: right;
}
.img-nobelball1 {
          width: 300px;
          height: 200px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
}
.img-nobelball2 {
          width: 300px;
          height: 200px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
  }
  .img-nobelball3 {
            width: 300px;
            height: 200px;
            background-image: url(img/wellyball1);
            background-size: 20%;
            background-repeat: no-repeat;
            background-position: right;
      }
      .img-winter1 {
                width: 290px;
                height: 180px;
                background-image: url(img/wellyball1);
                background-size: 20%;
                background-repeat: no-repeat;
                background-position: right;
          }
          .img-winter2 {
                    width: 290px;
                    height: 180px;
                    background-image: url(img/wellyball1);
                    background-size: 20%;
                    background-repeat: no-repeat;
                    background-position: right;
              }
              .img-winter3 {
                        width: 290px;
                        height: 180px;
                        background-image: url(img/wellyball1);
                        background-size: 20%;
                        background-repeat: no-repeat;
                        background-position: right;
                  }
                  .img-boxingclub1 {
                            width: 250px;
                            height: 180px;
                            background-image: url(img/wellyball1);
                            background-size: 20%;
                            background-repeat: no-repeat;
                            background-position: right;
                      }
                      .img-boxingclub2 {
                                width: 290px;
                                height: 180px;
                                background-image: url(img/wellyball1);
                                background-size: 20%;
                                background-repeat: no-repeat;
                                background-position: right;
                          }
                          .img-boxingclub3 {
                                    width: 250px;
                                    height: 180px;
                                    background-image: url(img/wellyball1);
                                    background-size: 20%;
                                    background-repeat: no-repeat;
                                    background-position: right;
                              }
                              .img-fs1 {
                                        width: 250px;
                                        height: 180px;
                                        background-image: url(img/fs1);
                                        background-size: 20%;
                                        background-repeat: no-repeat;
                                        background-position: right;
                                  }
                                  .img-fs2 {
                                            width: 180px;
                                            height: 180px;
                                            object-fit:cover;
                                            background-image: url(img/fs2);
                                            background-size: 20%;
                                            background-repeat: no-repeat;
                                            background-position: right;
                                      }

                                      .img-fs3 {
                                                width: 300px;
                                                height: 180px;
                                                object-fit:cover;
                                                background-image: url(img/fs3);
                                                background-size: 20%;
                                                background-repeat: no-repeat;
                                                background-position: right;
                                          }
                                    .img-art1 {
                                      width: 200px;
                                      height: 80px;
                                      background-image: url(img/art1);
                                      background-size: 10%;
                                      background-repeat: no-repeat;
                                      background-position: center;
                                    }
h2{
  letter-spacing: 5px;
}


h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

p{
  line-height: 40px;
}

button{
    color: rgb(61, 113, 235);
    font-size: 30px;
}
