/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html{
    margin-top:10px;
    padding:25px;
    border:0;
    outline:0;
    vertical-align:baseline;
    font-size:100%;
    background-color:rgb(250, 154, 133);
    align-content: center;
    font-size-adjust: auto;




}
header {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin-bottom:30px;
  letter-spacing: 1.5px
}

h1 {
  font-size:16px;
  font-style: bold;
  margin-bottom:0px;
  line-height:normal;
}
h4 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;

}
h5 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;
}
h6 {
  font-style: italic;
  font-size:12px;
  margin-bottom:0px;
  line-height:normal;
}


body {
    line-height:10px;
    font-family: 'Tajawal', sans-serif;
   font-size: 18px;
   text-align: center;
   text-indent: 20px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {

    content:none;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


*{
margin: 0;
padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: auto;
}

.img-wellyball1 {
      width: 300px;
      height: 200px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;
    }
      #rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  }


.img-wellyball2 {
            width: 300px;
            height: 200px;
            background-image: url(img/wellyball1);
            background-size: 20%;
            background-repeat: no-repeat;
            background-position: right;
}
.img-wellyball3 {
      width: 310px;
      height: 180px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;
}

.img-pgball1 {
      width: 280px;
      height: 180px;
      background-image: url(img/wellyball1);
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: right;

    }
    .img-pgball2 {
          width: 120px;
          height: 180px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;

        }
    .img-pgball3 {
              width: 280px;
              height: 180px;
              background-image: url(img/wellyball1);
              background-size: 20%;
              background-repeat: no-repeat;
              background-position: right;
}
.img-christmasball1 {
          width: 310px;
          height: 180px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
    }
        .img-christmasball2 {
                  width: 310px;
                  height: 180px;
                  background-image: url(img/wellyball1);
                  background-size: 20%;
                  background-repeat: no-repeat;
                  background-position: right;
                }
                .img-christmasball3 {
                          width: 310px;
                          height: 180px;
                          background-image: url(img/wellyball1);
                          background-size: 20%;
                          background-repeat: no-repeat;
                          background-position: right;
}
.img-nobelball1 {
          width: 300px;
          height: 200px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
}
.img-nobelball2 {
          width: 300px;
          height: 200px;
          background-image: url(img/wellyball1);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: right;
  }
  .img-nobelball3 {
            width: 300px;
            height: 200px;
            background-image: url(img/wellyball1);
            background-size: 20%;
            background-repeat: no-repeat;
            background-position: right;
      }
      .img-winter1 {
                width: 290px;
                height: 180px;
                background-image: url(img/wellyball1);
                background-size: 20%;
                background-repeat: no-repeat;
                background-position: right;
          }
          .img-winter2 {
                    width: 290px;
                    height: 180px;
                    background-image: url(img/wellyball1);
                    background-size: 20%;
                    background-repeat: no-repeat;
                    background-position: right;
              }
              .img-winter3 {
                        width: 290px;
                        height: 180px;
                        background-image: url(img/wellyball1);
                        background-size: 20%;
                        background-repeat: no-repeat;
                        background-position: right;
                  }
                  .img-boxingclub1 {
                            width: 250px;
                            height: 180px;
                            background-image: url(img/wellyball1);
                            background-size: 20%;
                            background-repeat: no-repeat;
                            background-position: right;
                      }
                      .img-boxingclub2 {
                                width: 290px;
                                height: 180px;
                                background-image: url(img/wellyball1);
                                background-size: 20%;
                                background-repeat: no-repeat;
                                background-position: right;
                          }
                          .img-boxingclub3 {
                                    width: 250px;
                                    height: 180px;
                                    background-image: url(img/wellyball1);
                                    background-size: 20%;
                                    background-repeat: no-repeat;
                                    background-position: right;
                              }
                              .img-fs1 {
                                        width: 250px;
                                        height: 180px;
                                        background-image: url(img/fs1);
                                        background-size: 20%;
                                        background-repeat: no-repeat;
                                        background-position: right;
                                  }
                                  .img-fs2 {
                                            width: 180px;
                                            height: 180px;
                                            object-fit:cover;
                                            background-image: url(img/fs2);
                                            background-size: 20%;
                                            background-repeat: no-repeat;
                                            background-position: right;
                                      }

                                      .img-fs3 {
                                                width: 300px;
                                                height: 180px;
                                                object-fit:cover;
                                                background-image: url(img/fs3);
                                                background-size: 20%;
                                                background-repeat: no-repeat;
                                                background-position: right;
                                          }
                                    .img-art1.jpg {
                                      width: 50px;
                                      height: 60px;
                                      background-image: url(img/art1);
                                      background-size: 10%;
                                      background-repeat: no-repeat;
                                      background-position: right;
                                    }
h2{
  letter-spacing: 5px;
}


h3 {
  font-weight: 500;
}

.h4 {
    width: auto;
    text-align:center;
    margin:0 auto;
}
.ol {
  margin:0 auto;
  font-size:40px;
}


a {
  text-decoration: none;
      padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin-bottom:20px;
    font-color: black;
}

p{
  line-height: 40px;
}

button{
    color: #086788;
    font-size: 15px;
    border-radius: 2px;
    font-family: 'Bebas Neue', normal;
    width:75px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #064257;
  color: white;
}


#title {
  font-size: 50px;
  font-style: normal;
  font-size-adjust: auto;
  text-decoration: underline;
  font-family: 'Tajawal', sans-serif;
}
#navbar {
  font-size-adjust: auto;
  align-self: center;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 25px;
  grid-row-gap: 25px;
  grid-column-gap: 25px;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: transparent;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-size-adjust: auto;
  background-color: rgb(250, 154, 133);
  line-height: inherit;
  font-color: black;
}
.grid-item:hover{
  background-color: rgb(255, 111, 97);

.date {
  background-color: inherit;
}
body{
  background-color: rgb(250, 154, 133)}

#one {
  grid-row-start: 1;
  grid-row-end: 3;
}
#two {

  grid-row-start: 2;
  grid-row-end: 4;
}

p {
  margin-top: 10px;
}
